.random-btn {
    width: fit-content;
    background: white;
    cursor: pointer;
    font-family: 'NunitoSans';
    font-size: 16px;
    padding: 5px 30px;
    color: #58362d;
    border: 1px solid grey;
    border-radius: 30px;
    outline: none;
    transition: transform 0.2s, background-color 0.2s;
    align-self: center;
    margin-top: 20px;
}
.random-btn:hover {
    background-color: #67869b;
    color: rgb(255, 253, 253);
    border: 1px solid rgb(255, 250, 250);
}

.random-btn:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
