.prev-btn,
.next-btn {
    min-width: 120px;
    background: white;
    cursor: pointer;
    font-family: 'NunitoSans';
    font-size: 16px;
    padding: 5px 30px;
    color: #58362d;
    border: 1px solid grey;
    border-radius: 30px;
    outline: none;
    transition: transform 0.2s, background-color 0.2s;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #67869b;
    color: rgb(255, 253, 253);
    border: 1px solid rgb(255, 250, 250);
}

.prev-btn:active,
.next-btn:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.counter {
    font-family: 'NunitoSans';
    font-size: 16px;
    padding: 5px 30px 5 px 0;
    color: #58362d;
}
.buttonswrapp {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.counter-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'NunitoSans';
    font-size: 18px;

    color: #58362d;
}
.counter-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-container div img {
    width: 20px;
    cursor: pointer;
    text-align: center;
}
